::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  box-shadow: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #626262;
}

.container {
  max-width: 520px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 0px 38px -28px;
}

.heading {
  padding-bottom: 30px;
  background: white;
}

.searchBar{
  width:100%
}

.button {
  width: 90px;
  font-size: 20px;
  font-weight: bold;
}

.set-todo {
  padding: 5px 0;
  background: white;
  box-shadow: 0px 9px 9px -12px;
  width: 100%;
  margin: auto;
}
.todo {
  margin-top: 5px;
  margin-bottom: 5px;
}

textarea {
  border: none;
  width: 100%;
  height: fit-content;
}
.lineThrough {
  text-decoration: line-through;
}

@media(max-width:550px){
  .container{
    margin-inline:10px;
  }
}

@media (max-width: 485px) {
  .set-todo {
    flex-direction: column;
    gap: 5px;
    align-items: center;
    padding-bottom: 20px;
  }
  .set-todo div {
    width: 100%;
  }
  .set-todo div input,
  .set-todo div button {
    width: 100%;
  }
}

